@{
    ViewData["Title"] = "About";
}
<div class="container">
<h3 class="text-info text-center">O projekcie</h3>
    <p>
        Do wykoanania projektu wykorzystałem Interfejs API portalu "Jakość Powietrza" GIOŚ. 
        Więcej szczegółów na jego temat można uzyskać pod tym adresem: <a href="https://powietrze.gios.gov.pl/pjp/content/api ">https://powietrze.gios.gov.pl/pjp/content/api </a> 
    </p>
</div>